.align-items-center {
  align-items: center !important;
}

.w-100 {
  width: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.pr-0 {
  padding-right: 0 !important;
}

.overflow-hidden {
  overflow: hidden;
}
.ocult {
  display: block;

  @include fromMax(s) {
    display: none;
  }
}

.background-withe{
  background-color: $white;
}
@each $spacer, $value in $spacers {
  .mt-#{$spacer} {
    margin-top: $value;
  }

  .ml-#{$spacer} {
    margin-left: $value;
  }

  .mr-#{$spacer} {
    margin-right: $value;
  }

  .mb-#{$spacer} {
    margin-bottom: $value;
  }
}
