$max-width: 1200px;
$header-height: 3rem;

// Breakpoints
$breakpoints: (
  lx: 1020,
  l: 960px,
  s: 500px,
);

// Stacking variables (z-index)
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-tooltip2: 50;
  --z-fixed: 100;
  --z-modal: 1000;
}

// Colors system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$red:     #dc3545 !default;
$yellow:  #ffc107 !default;
$orange:  #fd7e14 !default;
$green:   #198754 !default;

// scss-docs-start theme-color-variables
$primary:  $gray-900;
$success:  $green;
$warning:  $yellow;
$danger:   $red;
$dark:     $gray-900;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":   $primary,
  "success":   $success,
  "warning":   $warning,
  "danger":    $danger,
  "dark":      $dark
) !default;

// $font-size-base effects the font size of the body text
$font-size-base:         1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:           $font-size-base * .875 !default;
$font-size-lg:           $font-size-base * 1.25 !default;

// Body
//
// Settings for the `<body>` element.
$body-bg:                $white !default;
$body-color:             $gray-900 !default;

// scss-docs-start border-variables
$border-width:           1px !default;
$border-color:           $gray-300 !default;

// scss-docs-start border-radius-variables
$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;

// form-input-variables
$input-padding-y:        0.375rem !default;
$input-padding-x:        0.75rem !default;
$input-font-weight:      400 !default;
$input-line-height:      1.5 !default;
$input-color:            $body-color !default;
$input-bg:               $body-bg !default;
$input-border-width:     $border-width !default;
$input-border-color:     $border-color !default;
$input-font-size:        $font-size-base;

// scss-docs-start btn-variables
$btn-padding-y:            .375rem !default;
$btn-padding-x:            .75rem !default;
$btn-font-size:            $font-size-base !default;

$btn-padding-y-sm:         .25rem !default;
$btn-padding-x-sm:         .5rem !default;
$btn-font-size-sm:         $font-size-sm !default;

$btn-padding-y-lg:         .5rem !default;
$btn-padding-x-lg:         1rem !default;
$btn-font-size-lg:         $font-size-lg !default;

$btn-border-width:         $border-width;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:        $border-radius !default;
$btn-border-radius-sm:     $border-radius-sm !default;
$btn-border-radius-lg:     $border-radius-lg !default;

// Container padding
$container-padding-x: 0.75rem !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            12 !default;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;
